<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <a href="/" class="logo logo-dark">
                <span class="logo-sm"><img src="/assets/images/logo-sm.png" /></span>
                <span class="logo-lg"><img src="/assets/images/logo-dark.png" /></span>
            </a>
        </div>
        <div class="d-flex align-items-center">
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect">
                    <i class="ri-user-line"></i>
                </button>
            </div>
        </div>
    </div>
</header>