<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="/" class="waves-effect">
                        <i class="ri-home-2-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/users" class="waves-effect">
                        <i class="ri-user-line"></i>
                        <span>Pengguna</span>
                    </a>
                </li>

                <li>
                    <a href="/barang" class="waves-effect">
                        <i class="ri-shopping-bag-line"></i>
                        <span>Barang</span>
                    </a>
                </li>

                <li>
                    <a href="/transaksi" class="waves-effect">
                        <i class="ri-file-list-3-line"></i>
                        <span>Transaksi</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>